
/*-----------------------------------
      S T U D I O    S L I D E R
-----------------------------------*/
.about_describe-text {
  text-align: justify;
}

.about_describe {
  padding-top: 85px;
  padding-bottom: 140px;
}

.about_slider {
  //height: 500px;
  padding: 0;
  margin-bottom: 40px;
  //background: #233323;
  > div {
    background: #000000;
  }
}

.about_slider__img {
  position: relative;
  float: left;
  width: 50%;
  padding-bottom: 40%;
  background: #0DBDD1;
  overflow: hidden;
  @include respond-to(xs) {
    width: 100%;
    padding-bottom: 60%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    max-width: 100%;
    min-height: 100%;
  }
}

.about_slider__desc {
  float: left;
  width: 50%;
  padding: 40px;
  text-align: center;
  @include respond-to(xs) {
    width: 100%;
    padding: 40px 10px 20px;
  }
  p {
    font-size: 18px;
    color: #fff;
    @include respond-to(sm) {
      font-size: 14px;
    }
  }
}

.studio_slider {
  .slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    > li {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 12px 15px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #ccc;
      > button {
        background: transparent;
        color: transparent;
        border: none;
      }
    }
    .slick-active {
      background-color: #000000;
    }
  }
}
/*---------------------------
    T E A M   S L I D E R
-------------------------------*/
.our_team {
  margin-top: 50px;
  margin-bottom: 50px;
  @include respond-to(xs-small) {
    margin-bottom: 5px;
  }
  .slick-slider {
    position: relative;
    .slick-track {
      margin-left: 20px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -65px;
    height: 90px;
    width: 60px;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    z-index: 5;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 36px;
      left: 16px;
      width: 50px;
      height: 6px;
      border-radius: 3px;
      background: $slider-arrow-color;
      transform-origin: 0 100%;
      transform: rotateZ(60deg);
    }
    &:hover:before {
      background: $slider-arrow-hover-color;
      transform: rotateZ(50deg);
    }
    &:after {
      top: 43px;
      transform-origin: 0 0;
      transform: rotateZ(-60deg);
    }
    &:hover:after {
      background: $slider-arrow-hover-color;
      transform: rotateZ(-50deg);
    }
    &.slick-prev {
      left: 50px;
    }
    &.slick-next {
      right: 50px;
      &:before {
        transform-origin: 100% 0;
        top: 43px;
        left: -4px;
      }
      &:after {
        transform-origin: 100% 100%;
        top: 36px;
        left: -4px;
      }
    }
  }
}

.team_slider__item {
  width: 25%;
  margin-right: 1%;
  //background-color: #00b3ee;
  .img_wrap {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    transform-origin: 50% 100%;
    img {
      position: absolute;
      max-height: 100%;
    }
  }
  .name {
    display: none;
    height: 50px;
    text-align: center;
    color: #000;
  }
  &.slick-active {
    //background-color: #ee4a61;
    .name {
      display: block;
    }
  }
  &.slick-center {
    .img_wrap {
      transform: scale(1.2);
    }
    .name {
      color: $slider-arrow-hover-color;
    }
  }
}