/* contact_block */
#contact {
    padding-top: 30px;
}

.contact_block {
  background-color: $contact-bg-color;
}

.contact_block__wrap {
  float: left;
  width: 100%;
  margin-top: 40px;
  @include respond-to(md) {

  }
  > div {
    position: relative;
  }
}

.contact_block__form {
  width: 56%;
  height: 168px;
  margin-top: 20px;
  padding: 20px;
  background-color: #000;
  @include respond-to(sm) {
    width: 100%;
  }
  @include respond-to(xs-small) {
    height: auto;
  }
  textarea {
    float: right;
    width: 48%;
    height: 125px;
    padding: 15px;
    border-radius: 6px;
    color: #2b2b2b;
    font-size: 14px;
    line-height: 18px;
    resize: none;
    @include respond-to(xs-small) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  input[type='text'], input[type='email'] {
    float: left;
    width: 48%;
    height: 30px;
    padding: 0 15px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 30px;
    @include respond-to(xs-small) {
      width: 100%;
    }
  }
  input[type='text'], input[type='email'], textarea {
    font-family: $font-base;
    color: #2b2b2b;
    border: none;
  }
  input[type='text']:focus, input[type='email']:focus, textarea:focus {
    box-shadow: inset 0 0 10px 1px rgba(0, 33, 227, 0.8);
  }
  input::-webkit-input-placeholder{
    font-family: $font-base;
    color: #2b2b2b;
  }


  input[type='submit'] {
    position: relative;
    left: -8px;
    display: block;
    width: 100px;
    height: 30px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: #ff5246;
    border: none;
    border-radius: 6px;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.43), 2px 2px 20px 0px rgba(10, 0, 227, 0.7);
    font-family: $font-medium;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
    -webkit-appearance: none;
    &:hover {
      box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.43), 2px 2px 20px 2px rgba(10, 0, 227, 0.7);
    }
    &:active {
      //transform: translate(1px, 1px);
      box-shadow: inset 0 3px 10px 2px rgba(0, 0, 0, 0.43), 1px 1px 20px 1px rgba(10, 0, 227, 0.7);
    }
    @include respond-to(xs-small) {
      left: 0;
    }
  }
}

.form-control {
  display: block;
  color: #555;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.contact_block__map {
  position: absolute;
  bottom: -168px;
  right: 0;
  float: right;
  width: 40%;
  padding-bottom: 38%;
  overflow: hidden;
  @include respond-to(xs) {
    width: 100%;
    padding-bottom: 65%;
    margin-bottom: 10%;
  }
  @include respond-to(sm) {
    position: relative;
    bottom: 0;
  }
  @include respond-to(xs-small) {
    //display: none;
  }
}

.contact-info {
  float: left;
  width: 56%;
  margin-right: 4%;
  margin-bottom: 20px;
  color: #fff;
  font-family: $font-base;
  font-size: 18px;
  p {
    width: 180px;
  }
  @include respond-to(xs-small) {
    float: none;
    font-size: 16px;
  }
}

.contact_block__social {
  width: 56%;
  list-style: none;
  text-align: right;
  margin-bottom: 35px;
  li {
    display: inline-block;
    margin-left: 10px;
  }
  @include respond-to(xs-small) {
    width: 100%;
  }
  @include respond-to(xs) {
    float: right;
    margin-top: -45px;
  }
}

.contact__social-link {
  display: block;
  width: 44px;
  height: 44px;
  background: #fff;
  font-size: 20px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  color: $contact-bg-color;
  &:hover, &:focus {
    color: $success;
  }
  @include respond-to(xs-small) {
    height: 36px;
    width: 36px;
    line-height: 36px;
  }

}

/*------------------------------------
    inverse override for contact page
------------------------------------*/

.contact {
  .contact_block {
    background-color: #fff;
    margin-bottom: 50px;
  }
  .contact-info {
    color: #000;
  }
  .contact__social-link {
    background: $contact-bg-color;
    color: #fff;
    &:hover, &:focus {
      color: $success;
    }
  }
  .brands_block {
    height: auto;
  }
}

