/* FOOTER & BOTTOM MENU */

$footer_bg_color: #000;
$footer_text_color: #fff;
$footer_height: 125px;

.bottom_nav__wrap {
  background-color: $contact-bg-color;
}

.bottom_nav__wrap.inverse {
  background-color: #fff;
}

.bottom_nav__wrap .bottom_nav {
  float: right;
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.bottom_nav__item {
  float: left;
  @include respond-to(xs-add) {
    width: 50%;
  }
  a {
    display: block;
    padding: 0 15px;
    color: #fff;
    height: 50px;
    font-family: $font-secondary;
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
    @include respond-to(sm) {
      font-size: 18px;
    }
    @include respond-to(xs) {
      font-size: 14px;
    }
    @include respond-to(xs-add) {
      height: 30px;
      line-height: 30px;
    }
  }
}

.bottom_nav__item.book_now {
  @include respond-to(xs-add) {
    width: 100%;
  }
  a {
    color: #bd210f;
  }
}

.bottom_nav.inverse {
  .bottom_nav__item {
    a {
      color: #000;
    }
    &.book_now a {
      color: #2405bd;
      @include respond-to(xs-add) {
        width: 100%;
        text-align: center;
      }
    }

  }
}

.footer {
  min-height: $footer_height;
  padding-top: 25px;
  text-align: center;
  color: $footer_text_color;
  background-color: $footer_bg_color;
  .copyright {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    > div {
      display: inline-block;
    }
    a {
      text-transform: none;
      color: $footer_text_color;
      &:hover {
        text-decoration: underline;
      }
    }
    @include respond-to(sm) {
      font-size: 16px;
    }
    @include respond-to(xs) {
      font-size: 12px;
    }

  }
}

.footer__logo img {
  @include respond-to(sm) {
    width: 150px;
    margin-bottom: 15px;
  }
}

.bottom_nav__wrap .bottom_nav.inverse {
  margin-top: 5px;
}
