<section class="brands_block container">
    <div class="add-margin clearfix">
        <div class="brands_block__item">
            <a href="#">
                <img src="assets/images/brand-1.jpg" alt="">
            </a>
        </div>
        <div class="brands_block__item">
            <a href="#">
                <img src="assets/images/brand-2.jpg" alt="">
            </a>
        </div>
        <div class="brands_block__item">
            <a href="#">
                <img src="assets/images/brand-3.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="brands_descr">Collaborating with brands.</div>
</section>
