<section class="contact_block">
	<div class="container">
		<div class="contact_block__inner add-margin">
			<div class="contact_block__form-wrap">
				<ul class="footer__social">
					<li class="footer__social-item"><a href="#" class="footer__social-link"><i class="inbrace-icon-facebook"></i></a></li>
					<li class="footer__social-item"><a href="#" class="footer__social-link"><i class="inbrace-icon-twitter"></i></a></li>
				</ul>
				<form action="" class="contact_block__form clearfix">
					<div class="form_group">
						<input type="text" class="form-control form-control-md">
						<input type="email" class="form-control form-control-md">
						<input type="submit" value="submit">
					</div>
					<div class="form_group">
						<textarea name="message"> message</textarea>
					</div>
				</form>
			</div>
			<div class="contact_block__map">
map!!!
			</div>


		</div><!-- footer__inner -->
	</div><!-- container -->
</section>
