<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__top-holder">
				<form action="" class="footer__form">
					<legend class="text-upprecase">SIGN UP FOR OUR NEWSLETTER</legend>
					<div class="form-group">
						<input type="email" class="form-control form-control-md">
					</div><!-- form-group -->
				</form>
			</div><!-- footer__top-holder -->
			
			<div class="footer__bottom-holder">
				<div class="footer__item">
					<ul class="footer__nav">
						<li class="footer__nav-item"><a href="#" class="footer__nav-link">PRIVACY POLICY</a></li>
						<li class="footer__nav-item"><a href="#" class="footer__nav-link">TERMS OF USE</a></li>
					</ul><!-- footer__nav -->
				</div><!-- footer__item -->
				
				<div class="footer__item">
					<ul class="footer__social">
						<li class="footer__social-item"><a href="#" class="footer__social-link"><i class="inbrace-icon-facebook"></i></a></li>
						<li class="footer__social-item"><a href="#" class="footer__social-link"><i class="inbrace-icon-twitter"></i></a></li>
					</ul><!-- footer__social -->
				</div><!-- footer__item -->
			</div><!-- footer__bottom-holder -->
		</div><!-- footer__inner -->
	</div><!-- container -->
</footer>
