<nav class="navbar !navbar-fixed-top">
    <div class="container">
        <div class="social_wrapper">
            <a href="#" class="book_now">book now</a>
            <ul class="header__social">
                <li class="header__social-item"><a href="#" class="header__social-link"><i
                        class="icon-facebook"></i></a></li>
                <li class="header__social-item"><a href="#" class="header__social-link"><i
                        class="icon-twitter"></i></a></li>
                <li class="header__social-item"><a href="#" class="header__social-link"><i
                        class="icon-facebook"></i></a></li>
            </ul>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="assets/images/temp/logo.jpg" class="navbar-logo">
            </a>
        </div><!-- navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">about us</a></li>
                <li><a href="#">servises</a></li>
                <li><a href="#">poducts</a></li>
                <li><a href="#">contact us</a></li>
            </ul><!-- navbar-nav -->
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->
</nav><!-- navbar -->
