<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand navbar-brand--centered" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" class="navbar-logo" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="" height="26px">
        <text x="50%" text-anchor="middle" y="88%" dy="" fill="url(#pattern)"><tspan>IN</tspan>BRACE</text>
        <defs>
          <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0">
            <stop offset="0%" style="stop-color:#0DBDD1;"/>
            <stop offset="15%" style="stop-color:#64DDD9;"/>
            <stop offset="50%" style="stop-color:#FF7F90;"/>
            <stop offset="75%" style="stop-color:#FFD39F;"/>
            <stop offset="100%" style="stop-color:#0DBDD1;"/>
          </linearGradient>
          
          <pattern id="pattern" x="0" y="0" width="300%" height="100%" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="150%" height="100%" fill="url(#gradient)">
              <animate attributeType="XML" attributeName="x" from="0" to="150%" dur="12s" repeatCount="indefinite"/>
            </rect>
            <rect x="-150%" y="0" width="150%" height="100%" fill="url(#gradient)">
              <animate attributeType="XML" attributeName="x" from="-150%" to="0" dur="12s" repeatCount="indefinite"/>
            </rect>
          </pattern>
        </defs>
      </svg>
    </a>
  </div><!-- /.container -->
</nav><!-- navbar -->
