<section class="studio">
    <div class="section-title">Get naled studio</div>
    <div class="studio_wrap">
        <div class="container">

            <div id="instafeed"></div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_1.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_2.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_3.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_4.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_5.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_6.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_7.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_8.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_9.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_10.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_11.jpg" alt="">
            </div>
            <div class="studio_item">
                <img src="assets/images/studios/studios_12.jpg" alt="">
            </div>
        </div>
    </div>
</section>
