/* ANIMATED GRADIENT */

$animated-gradient-start: #b8f0f7;
$animated-gradient-middle: #d8dbe3;
$animated-gradient-end: #ffc2ca;

$animated-gradient-first: #0DBDD1;
$animated-gradient-second: #FF7F90;
$animated-gradient-third: #FFD39F;
$animated-gradient-fourth: #64DDD9;
