/* Fonts */

$font-path: '../fonts/';

@font-face {
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}RobotoLight/roboto-light-webfont.woff2') format('woff2'),
  url('#{$font-path}RobotoLight/roboto-light-webfont.woff') format('woff'),
  url('#{$font-path}RobotoLight/Roboto-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}RobotoBlack/roboto-black-webfont.woff2') format('woff2'),
  url('#{$font-path}RobotoBlack/roboto-black-webfont.woff') format('woff'),
  url('#{$font-path}RobotoBlack/Roboto-black.ttf') format('ttf');
}