/* SECTION */

.add-margin {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  @include respond-to(md) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @include respond-to(xs) {
    margin-left: 0;
    margin-right: 0;
  }
}

.section-title {
  position: relative;
  width: 320px;
  height: 50px;
  margin: 0 auto;
  background: $tile-bg-color;
  color: $title-color;
  line-height: 50px;
  text-align: center;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.67);
  z-index: 5;
  @include respond-to(xs-small) {
    width: 230px;
  }
}

.section {
  position: relative;
  padding: 90px 0px;
  @include respond-to(sm) {
    padding: 35px 0;
  }
}
.section--has-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.section--has-bg-bottom {
  background-position: 50% bottom;
}
.section--below-nav {
  padding: calc(#{$navbar-height + 90px}) 0px 90px 0;
  @include respond-to(xs) {
    padding: calc(#{$navbar-height + 0px}) 0px 35px 0;
  }
}
.section--pb-huge {
  padding-bottom: 460px;
  @include respond-to(md) {
    padding-bottom: 300px;
  }
  @include respond-to(sm) {
    padding-bottom: 200px;
  }
  @include respond-to(xs) {
    padding-bottom: 35px;
  }
}
.section--has-border {
  border-bottom: 1px solid $mercury-soft;
}
